.mainbody {
  background-color: #140152;
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Display', sans-serif;
}

.height-100 {
  min-height: 100vh;
}

.height-50 {
  min-height: 35vh;
}

@media (max-width: 760px) {
  .height-50 {
    min-height: 100vh;
  }
}


.row {
  display: flex;
  justify-content: center;
}

@keyframes fadeslide {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade-in {
  animation: 1s fadein;
  animation-fill-mode: both;
}

.fade-slide {
  animation: 1s fadeslide;
  animation-fill-mode: both;
}

.cbtn {
  transition: all 200ms;
}

.cbtn:hover {
  transform: scale(1.1);
}
